/*———————— Font family styles ————————*/

@font-face {
    font-family: 'Exo 2';
    src:url('./assets/fonts/Exo2.woff2') format('woff2'),
        url('./assets/fonts/Exo2.woff') format('woff'),
        url('./assets/fonts/Exo2.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*———————— Formatted styles ————————*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*———————— Custom property styles ————————*/

:root {
    /*—————————— Typography ——————————*/
    --typeface: 'Exo 2', system-ui, -apple-system, sans-serif;
    font-family: var(--typeface);
    /*——————————— Sizes ———————————*/
    --size-1: 8px;
    --size-2: 12px;
    --size-3: 16px;
    --size-4: 18px;
    --size-5: 20px;
    --size-6: 22px;
    --size-7: 24px;
    --size-8: 28px;
    --size-9: 32px;

    /*—————————— Spacing ——————————*/
    --space-025: 0.25em;
    --space-050: 0.50em;
    --space-075: 0.75em;
    --space-100: 1.00em;
    --space-150: 1.50em;
    --space-200: 2.00em;
    --space-250: 2.25em;
    --space-300: 3.00em;
    --space-400: 4.00em;
    --space-500: 5.00em;
    /*——————————— Border ———————————*/
    --solid-1: solid 1px;
    --solid-2: solid 2px;
    --solid-3: solid 3px;
    --solid-4: solid 4px;
    /*———————— Border Radius ————————*/
    --radius-1: .25em;
    --radius-2: .50em;
    --radius-3: .75em;
    --radius-4: 1em;
    /*———————— Box Shadow ————————*/
    --sh-color: #0001;
    --shadow-low:    0px 2px 4px 0px var(--sh-color), 0px 3px 6px 0px var(--sh-color);
    --shadow-medium: 0px 20px 6px 10px var(--sh-color);
    --shadow-high:   0px 0px 8px 0px var(--sh-color);
    /*————————— Transitions —————————*/
    --trans-1: .2s ease;
    --trans-2: .4s ease;
    --trans-3: .6s ease;
    /*————————— From project —————————*/
    --sidebar-width: 18em;
}

:root[data-theme="light"] {
    /*60%*/ --primary-color: #FFF;
    /*30%*/ --secondary-color: #F3F6Fa;
    /*10%*/ --accent-color: #110E1E;

    --tx-color-1: #123;
    --tx-color-2: #456;
    --tx-color-3: #789;

    --bg-color-1: #E2E8F0;
    --bg-color-2: #D9E0E6;
    --bg-color-3: #C9D2DA;
    --bg-color-4: #AAA;
    --bg-color-5: #CAD3DC;
}

:root[data-theme="dark"] {
    /*60%*/ --primary-color: #171c20;
    /*30%*/ --secondary-color: #12171a;
    /*10%*/ --accent-color: #ddd3ff;

    --tx-color-1: #def;
    --tx-color-2: #abc;
    --tx-color-3: #789;

    --bg-color-1: #171c20;
    --bg-color-2: #12171a;
    --bg-color-3: #293035;
    --bg-color-4: #46525b;
    --bg-color-5: #110e1e;
}

/*———————— Browser interface styles ————————*/

::-webkit-scrollbar {
    background: var(--bg-color-2);
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--bg-color-3);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color-4);
}

::selection {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

/*———————— Base styles for the project ————————*/

input,
textarea {
  width: 100%;
}

button,
input,
textarea, [contenteditable="true"] {
  outline: none;
}

textarea {
  resize: vertical;
}

::where(input, textarea)::placeholder { color: currentColor; }

button:disabled { pointer-events: none; }

/*———————— HTML Element styles ————————*/

html {
    font-size: var(--size-3);
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--tx-color-1);
    padding: var(--space-6);
    position: relative;
}

svg {
    width: var(--space-200);
    height: var(--space-200);
    color: var(--tx-color-2);
    fill: var(--tx-color-2);
}

button:has(svg) {
    display: flex;
    width: max-content;
    height: max-content;
    padding: var(--space-025);
    border-radius: var(--radius-2);
    background-color: var(--bg-color-1);

    svg {
        width: var(--space-150);
        height: var(--space-150);
    }

    &[data-sidebar-toggler] {
        background-color: transparent;
        svg {
            width: var(--space-200);
            height: var(--space-200);
        }
    }

    &:hover {
        background-color: var(--accent-color);
        svg {
            color: var(--primary-color);
        }
    }

    &:focus {
        outline: var(--solid-4) var(--bg-color-3);
    }
}

/*———————— Light/Dark theme toggler ————————*/

.theme--switch {
    width: max-content;
    .light {
        display: none;
    }
    .dark {
        display: block;
    }
    &:has( :checked ) {
        .light {
            display: block;
        }
        .dark {
            display: none;
        }
    }
    label {
        display: flex;
    }
    input[type="checkbox"] {
        display: none;
    }
    svg {
        transform: rotate(-90deg);
    }
}

/*———————— sidebar styles ————————*/

.sidebar {
    width: 100%;
    max-width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    padding: var(--space-100);
    gap: var(--space-100);

    position: fixed;
    right: 100%;
    bottom: 0;
    top: 0;

    background-color: var(--secondary-color);
    border-right: var(--solid-1) var(--bg-color-5);
    box-shadow: var(--shadow-high);

    visibility: hidden;
    transition: var(--trans-2);
    transition-property: transform, visibility;
    z-index: 2;
    
    &.active {
        transform: translateX(100%);
        visibility: visible;
    }
    
    @media (min-width: 900px) {
        visibility: visible;
        left: 0;
    }
}

.sb__header,
.sb__title,
.navbar__item,
.navbar__item--btn,
.sb__footer {
    padding: var(--space-050);
    display: flex;
    justify-content: space-between;
    * {
        align-content: center;
        font-weight: 400;
    }
}

.sb__header {
    align-items: end;
    
}

svg.logo__icon {
    width: var(--space-300);
    height: var(--space-300);
    fill: var(--accent-color);
}

[data-sidebar-toggler] {
    display: flex;

    @media (min-width: 900px) {
        display: none;
    }
}

.sb__navbar {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: var(--space-025);
    gap: var(--space-050);
}

.navbar__item {
    background-color: var(--secondary-color);
    border: var(--solid-1) var(--bg-color-3);
    border-radius: var(--radius-3);
    
    cursor: pointer;

    &:active {
        outline: var(--solid-4) var(--bg-color-3);
    }

    &:hover {
        border-color: var(--accent-color);
    }

    &.active {
        box-shadow: var(--shadow-low);
        background-color: var(--primary-color);
    }
}

.navbar__item--title {
    margin-left: var(--space-050);
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar__item--btn,
.note__item--btn,
.header__title--btn  {
    padding: 0;
    gap: var(--space-025);
    
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;

    transition: all var(--trans-1);

    @media ( max-width: 900px ) {
        width: 32px;
        opacity: 1;
    }

    button:focus {
        outline: none;
    }
}

.navbar__item:where(:hover) .navbar__item--btn,
.note:where(:hover) .note__item--btn,
.main--header__title:where(:hover) .header__title--btn {
    width: 32px;
    opacity: 1;
}

.sb__footer {
    color: var(--tx-color-2);
}

svg.logo__icon--github {
    color: var(--tx-color-2);
    &:hover {
        color: var(--accent-color);
    }
}

/*———————— Overlay styles ————————*/

[data-sidebar-overlay] {
    z-index: 1;
}

[data-main-overlay] {
    z-index: 3;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: #000;
    
    visibility: hidden;
    opacity: 0;
    transition: var(--trans-2);
    transition-property: opacity, visibility;
}

.overlay.active {
    visibility: visible;
    opacity: .5;
}

/*———————— Main Content ————————*/

.main--content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    padding: var(--space-150) var(--space-200);
    position: relative;

    @media (max-width: 600px) {
        padding: var(--space-100);
    }
}

/*———————— Main header ————————*/

.main--header,
.main--header__title,
.main--header__info {
    display: flex;
    align-items: center;
    gap: var(--space-100);
}

.main--header {
    justify-content: space-between;

    @media (max-width: 900px) {
        
    }
    
    @media (max-width: 600px) {
        

        .current--data {
            display: none;
        }
    }

    @media (max-width: 400px) {
        
    }
}

.current--data {
    text-align: right;
    align-content: center;
}
.time__data {
    font-size: var(--size-4);
    font-weight: 400;
}
.date__data {
    font-size: var(--size-3);
    color: var(--tx-color-2)
}

/*———————— Notes panel ————————*/

.notes--panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-content: flex-start;
    align-items: stretch;
    position: relative;

    height: 100%;
    margin-block: var(--space-200);
    gap: var(--space-100);

    @media (max-width: 400px) {
        margin-block: var(--space-100);
    }
}

.note--add__new {

    button {
        width: 100%;
        padding: var(--space-100);
        color: var(--tx-color-1);
        display: flex;
        justify-content: space-around;
        background-color: var(--secondary-color);
        &:hover {
            color: var(--primary-color);
            background-color: var(--accent-color);
        }

        
        @media (max-width: 600px) {
            justify-content: center;
            gap: var(--space-050);
        }
    }

}

.note,
.note--add__new {
    width: 100%;
    border-radius: var(--radius-4);
}

.note {
    padding: var(--space-100) var(--space-150);
    border: var(--solid-1) var(--bg-color-3);

    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    cursor: pointer;

    p {
        height: 100%;
    }

    footer {
        color: var(--tx-color-3);
        display: flex;
        justify-content: space-between;
        
        & > * {
            align-content: center;
        }
    }

    &:hover {
        border-color: var(--accent-color);
    }

    &:active {
        outline: var(--solid-4) var(--bg-color-3);
    }

    @media (max-width: 900px) {

    }
    
    @media (max-width: 600px) {
        padding: var(--space-100);
        gap: var(--space-050);

        .current--data {
            display: none;
        }
    }

    @media (max-width: 400px) {
        p {
            font-size: 14px;
        }
        footer {
            font-size: 14px;
        }
    }
}

.empty--notes {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    align-items: center;
    gap: var(--space-050);
    
    user-select: none;
    opacity: .4;
    color: var(--tx-color-3);
    svg {
        color: var(--tx-color-3);
        width: var(--space-500);
        height: var(--space-500);
    }
}

.empty--notes.active {
    display: flex;
}

/*———————— Modal styles ————————*/

.modal {
    width: 100%;
    padding: var(--space-150);
    border-radius: var(--radius-4);

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    
    display: none;
    animation: modal-open var(--trans-3) forwards;

    &.open {
        display: block;
    }

    @media (max-width: 900px) {
        padding-inline: var(--space-100);
    }
    @media (max-width: 600px) {
        width: 100%;
        padding-inline: var(--space-100);
    }

    @media (max-width: 400px) {
        top: 30%;
        padding-inline: var(--space-100);
    }
}

.modal--header__icon {
    width: max-content;
    padding: var(--space-100);
    background-color: var(--secondary-color);
    display: flex;
    border-radius: var(--space-500);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal--header__icon + * {
    margin-top: var(--space-100);
    
    @media (max-width: 400px) {
        margin-top: var(--space-150);
    }
}

.modal--new__notebook,
.modal--delete__notebook,
.modal--new__note,
.modal--delete__note {
    display: none;
    flex-direction: column;
    gap: var(--space-100);
    position: relative;
    
    width: 70%;
    max-width: 600px;
    max-height: 570px;
    margin: 0 auto;
    padding: var(--space-150);
    background-color: var(--primary-color);
    border-radius: var(--radius-4);

    nav {
        display: flex;
        justify-content: end;
        gap: var(--space-050);
    }

    input, textarea, button {
        border-radius: var(--radius-2);
    }
    
    input {
        padding: var(--space-025) var(--space-050);
        color: var(--tx-color-1);
        &:focus {
            background-color: var(--secondary-color);
        }
    }

    textarea {
        resize: vertical;
        height: 160px;
        padding: var(--space-100);
        border: var(--solid-1) var(--bg-color-5);
        background-color: var(--secondary-color);
        /* form-sizing: content; */

        &:focus {
            border-color: var(--accent-color);
        }
    }

    button {
        padding: var(--space-050) var(--space-100);
    }

    h3 {
        font-weight: 400;
        margin-top: var(--space-150);
    }

    &.visible {
        display: flex;
    }

    @media (max-width: 900px) {
        width: 100%;
    }

    @media (max-width: 400px) {

        padding: var(--space-100);

        
    }
}

.modal--title {
    font-size: var(--size-8);
    background-color: var(--secondary-color);
}

.modal--btn__confirm, .modal--btn__cancel {
    &:focus {
        outline: var(--solid-4) var(--bg-color-3);
    }
}

.modal--btn__confirm {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.modal--btn__cancel {
    color: var(--tx-color-2);
    &:hover{
        background-color: var(--secondary-color);
    }
}

@keyframes modal-open {
    0% {
        transform: translate(-50%, -30%);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
        visibility: visible;
    }
}

/*———————— Responsive Web Design ————————*/


@media (min-width: 900px) {
    body {
        padding-left: var(--sidebar-width);
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: var(--size-8);
    }
    h2 {
        font-size: var(--size-6);
    }
    h3 {
        font-size: var(--size-5);
    }
    .modal--title {
        font-size: var(--size-7);
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: var(--size-7);
    }
    h2 {
        font-size: var(--size-5);
    }
    h3 {
        font-size: var(--size-4);
    }
    .modal--title {
        font-size: var(--size-6);
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: var(--size-6);
    }
    h2 {
        font-size: var(--size-4);
    }
    h3 {
        font-size: var(--size-3);
    }
    .modal--title {
        font-size: var(--size-5);
    }
}